.*
!.gitignore
!.gitattributes

build/
**/build/
src/generated/

*.class
*.log
*.jar
*.war
*.zip
*.tar.gz

gradle-app.setting
.gradletasknamecache
!gradle-wrapper.jar

run/
runs/

repomix-output.xml
repomix-output.md